body {
  margin: 0;
  background-color: rgb(89 95 102);
}
.main {
  background-image: url("img/back.jpg");
  display: flex;
  align-items: center;
  justify-items: revert;
  padding: 45px;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 50px;
  background-size: cover;
}

.foto {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 100px;
  height: auto;
  border: 3px solid #64bdff;
}

.datos {
  color: black;
  margin: auto 0;
  margin-left: 45px;
}

.datos h3 {
  margin: 0;
  margin-bottom: 8px;
}

.datos span {
  text-decoration: none;
  color: rgb(0, 87, 87);
}

.educacion {
  background-color: rgb(36, 36, 36);
  padding-top: 35px;
}

.conocimiento {
  background-color: rgb(89 95 102);
  color: rgb(199, 199, 199);
  font-family: "Josefin Sans", sans-serif;
}

.diagonal {
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  transform: skewY(-3deg);
  margin-top: -26px;
  font-family: "Josefin Sans", sans-serif;
}

.diagonal > .child {
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  transform: skewY(3deg);
  padding-top: 35px;
}

.logouaa {
  width: auto;
  height: fit-content;
}

.escuela {
  display: flex;
}

.center {
  text-align: center;
  color: rgb(199, 199, 199);
}

.exp {
  color: rgb(199, 199, 199);
  margin: auto 32px;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 35px;
}

.escuela p {
  margin-left: 16px auto;
  color: rgb(199, 199, 199);
  font-size: 25px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info span {
  margin: 0 16px;
}

.icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flow {
  display: flex;
  align-items: center;
  margin: 10px 75px;
}

.icons img {
  width: 100px;
  height: auto;
  margin: 0 8px;
}

.know {
  color: rgb(199, 199, 199);
  min-width: 215px;
}

.know h3 {
  margin-bottom: 0;
}

.know p {
  margin-top: 5px !important;
  align-items: center;
}

.know div{
  display: flex;
  align-items: center;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .responsive {
    display: flex;
    flex-direction: column;
  }
  .logouaa {
    width: auto;
    height: fit-content;
    margin: 0 24px;
  }
  
}